# DECLARATION OF TUPLES

In [13]:
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Display the tuple
print("Tuple:", my_tuple)

Tuple: (10, 20, 30, 40, 50)

# Functions

# INDEX

In [14]:
# Given tuple
my_tuple = (10, 20, 30, 20, 40)

# Find index of first occurrence of 20
index_of_20 = my_tuple.index(20)

# Print the index
print("Index of 20:", index_of_20)

Index of 20: 1

# COUNT

In [15]:
# Given tuple
my_tuple = (10, 20, 10, 30, 10, 40)

# Count how many times 10 appears
count_10 = my_tuple.count(10)

# Print the count
print("Count of 10:", count_10)

Count of 10: 3

# LEN

In [16]:
# Given tuple
my_tuple = (10, 20, 30, 40)

# Find the length
length = len(my_tuple)

# Print the length
print("Length of tuple:", length)

Length of tuple: 4

# MIN AND MAX

In [17]:
# Given tuple
my_tuple = (10, 20, 30, 40)

# Find max and min values
maximum_value = max(my_tuple)
minimum_value = min(my_tuple)

# Print values
print("Max value:", maximum_value)
print("Min value:", minimum_value)

Max value: 40
Min value: 10

# SUM

In [18]:
# Given tuple
my_tuple = (10, 20, 30, 40)

# Calculate sum
total = sum(my_tuple)

# Print the sum
print("Sum of tuple:", total)

Sum of tuple: 100

# TUPLE

In [19]:
# Given list
my_list = [10, 20, 30, 40]

# Convert to tuple
my_tuple = (my_list)

# Print the tuple
print("Converted tuple:", my_tuple)

Converted tuple: [10, 20, 30, 40]

### 1. Given a tuple of numbers and a target element, find and print all indexes where the target element occurs in the tuple.

In [20]:
my_tuple = (10, 20, 30, 20, 40, 20)
target = 20

indexes = []
for i in range(len(my_tuple)):
    if my_tuple[i] == target:
        indexes.append(i)

print(indexes)

[1, 3, 5]

## 2: Flatten a Tuple of Tuples

In [21]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flat_list = []

for t in nested_tuple:
    for num in t:
        flat_list.append(num)

flat_tuple = tuple(flat_list)
print(flat_tuple)

(1, 2, 3, 4, 5, 6)

## 3. Swap First and Last Elements

In [22]:
my_tuple = (10, 20, 30, 40)
temp = list(my_tuple)

temp[0], temp[-1] = temp[-1], temp[0]

new_tuple = tuple(temp)
print(new_tuple)

(40, 20, 30, 10)

 ## 4: Find Second Largest Element

In [23]:
my_tuple = (10, 20, 30, 40)
temp = list(my_tuple)

temp[0], temp[-1] = temp[-1], temp[0]

new_tuple = tuple(temp)
print(new_tuple)

(40, 20, 30, 10)

## 5: Check if Two Tuples are Identical

In [24]:
tuple1 = (10, 20, 30)
tuple2 = (10, 20, 30)

print(tuple1 == tuple2)

True